absl-py==0.5.0
astor==0.7.1
certifi==2018.11.29
cycler==0.10.0
Cython==0.29
docopt==0.6.2
gast==0.2.0
grpcio==1.12.1
h5py==2.8.0
jsonpickle==0.9.6
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyboard==0.13.2
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.0
mkl-fft==1.0.6
mkl-random==1.0.1
munch==2.3.2
names==0.3.0
numpy==1.15.4
pandas==0.23.4
Pillow==5.3.0
protobuf==3.6.0
py-cpuinfo==4.0.0
pygame==1.9.4
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
sacred==0.7.4
scipy==1.1.0
six==1.11.0
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-probability==0.5.0
termcolor==1.1.0
Werkzeug==0.14.1
wincertstore==0.2
wrapt==1.11.1
